{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <script type="text/javascript">
            cloudinary.image("sallylongsFront", {format: "jpg", width: 100, height: 100, crop: "fill"})
                    </script>
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Welcome to the 'Rhythm & Booze' Points of Interest {{users}}</header>
            <p> Irleand's Top Music Pubs!  </p>
            <p>Information References : GABY GUEDEZ thetaste.ie </p>
        </article>
    </div>
</section>